.header{
    width: 100%;
    height: auto;
    position: relative;
}
.header img{
    width: 100%;
    display: block;
}
.header_text{
    position: absolute;
    left: 0px;
    right: 0px;
    margin:0 auto;
    width: 100%;
    font-weight: bold;
    text-align: center;
    top:30%;
}

.header_text h1{
    color: white;
    font-size:58px;
    
}
.header_text h2{
    color: white;
    font-size:68px;
}
/*全国 总数据汇总展示*/
.total_list{
    width: 100%;
    height: auto;
    list-style: none;
    padding: 20px 0px;
    margin-bottom:8px;
}
.total_list li{
    float: left;
    width: 146px;
    height: auto;
    text-align: center;
    margin-left: 4px;
    /* margin-left: 33.2px; */
}
.total_list li p{
    font-size: 28px;
}
.total_list li h3{
    font-size: 34px;
}
.total_list li h4{
    font-size: 22px;
    color: #999;
    font-weight: normal;
}
.total_list li h4 span{
    display: block;
}
.a_color{
    color:#e10000;
}
.b_color{
    color:#ffa352;
}
.c_color{
    color:#34aa70;
}
.d_color{
    color:#333;
}
.e_color{
    color:#8C0D0D;
}

.update_time{
    text-indent: 1em;
    color: #999;
    font-size: 26px;
    margin-top: 16px;
}

.nav{
    width: 100%;
    height: auto;
    list-style:none;
}
.nav a{
    text-decoration: none;
    color:black;
}
.nav li{
    float: left;
    height: 80px;
    width: 250px;
    font-size: 28px;
    text-align: center;
    line-height: 80px;
    position: relative;
    cursor: pointer;
}
.nav li span{
    width: 100px;
    height: 10px;
    margin: 0 auto;
    margin-top: -10px;
    background: white;
    display: block;
}
.nav_hover span{
    background: #005dff!important;
}

.nav_page{
    padding: 20px;
}

.marTop20{
    margin-top:20px;
}

.board{
    width: 698px;
    margin: 0 auto;
    padding-top: 24px;
    border-top: 1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
}

.board p{
    font-size: 28px;
    padding-bottom: 24px;
    font-family: 微软雅黑;
}

@media screen and (max-width: 750px) {
    .header_text h1{
        color: white;
        font-size:0.58rem;
    }
    .header_text h2{
        color: white;
        font-size:0.68rem;
    }
    .header_top{
        font-size:0.58rem;
    }

    .total_list{
        padding: 0.2rem 0rem;
        margin-bottom:0.08rem;
    }

    .total_list li{
        float: left;
        width: 1.46rem;
        height: auto;
        text-align: center;
        margin-left: 0.04rem;
        /* margin-left: 0.332rem; */
    }
    .total_list li p{
        font-size: 0.28rem;
    }
    .total_list li h3{
        font-size: 0.34rem;
    }
    .total_list li h4{
        font-size: 0.22rem;
    }
    .update_time{
        text-indent: 1em;
        color: #999;
        font-size: 0.26rem;
        margin-top: 0.16rem;
    }

    .nav li{
        float: left;
        height: 0.80rem;
        width: 2.50rem;
        font-size: 0.28rem;
        text-align: center;
        line-height: 0.80rem;
        position: relative;
        cursor: pointer;
    }
    .nav li span{
        width: 1.00rem;
        height: 0.10rem;
        margin: 0 auto;
        margin-top: -0.10rem;
        background: white;
        display: block;
    }

    .nav_page{
        padding: 0.20rem;
    }

    .marTop20{
        margin-top:0.20rem;
    }

    .board{
        width: 6.98rem;
        margin: 0 auto;
        padding-top: 0.24rem;
    }
    .board p{
        font-size: 0.28rem;
        padding-bottom: 0.24rem;
    }
}